.messenger__container {
    min-height: 400px;
}

.messenger--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messenger--header__content {
    display: flex;
}

.messenger--header i {
    background-color: #fff !important;
    font-size: 1rem !important;
    color: var(--second-text-colr);
    transition: background-color .2s ease;
    cursor: pointer;
}

.messenger--header i:hover {
    background-color: var(--grey-background-color) !important;
}

.messenger__container .search-input input {
    max-width: 100%;
    width: 300px;
}

.messenger__container .foundUsers__container{
    box-shadow: none;
    animation: fall .5s ease-in-out;
}

@keyframes fall {
    from {
        transform: translateY(-20px);
        opacity: 0;
    } to {
        transform: translateY(0px);
        opacity: 1;
    }
}