.aside__container {
    background-color: transparent;
    /* później zmień */
    position: fixed;
    width: 360px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem .5rem;
}

.aside__container h4 {
    font-size: .9rem;
}

/* .aside__container .item {
    display: ;
} */