.post {
    background-color: #fff;
    box-shadow: 2px 2px 10px 1px #bbbdc1;
    border-radius: .5rem;
    margin: 2rem 0;
    max-width: 600px;
}

.post .item {
    width: max-content;
    padding-right: 1rem;
    transition: all .5s ease;
}

.post .item:hover {
    background-color: #fff;
    transform: scale(1.05);
}

.post .item:hover h4 {
    text-decoration: underline;
}

.post .item img {
    width: 50px;
    height: 50px;
    margin-right: .3rem;
}

.post--content {
    padding: .5rem;
}

.post--date {
    font-size: .8rem;
    color: var(--firs-text-color);
}

.post--text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: .9rem;
    letter-spacing: 1px;
    margin: .5rem .3rem;
}

.post--img {
    width: 99%;
    margin: 0 auto;
}

.post--img img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    box-shadow: 0px 0px 5px grey;
}


.post--comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem .5rem;

}

.post--likes {
    display: flex;
    align-items: center;
    color: var(--therd-text-color);
    margin-top: .5rem;
}

.post--likes i {
    font-size: .6rem;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: .3rem;
    margin-right: .5rem;

}


.post--quantity-value {
    font-size: .95rem;
    color: var(--therd-text-color);
    margin-left: 1rem;
    cursor: pointer;
}

.post--quantity-value:hover {
    text-decoration: underline;
}


.post--opt {
    display: flex;
    justify-content: space-around;
    padding: .5rem 1rem;
    border-top: 1px solid var(--border-color);
}

.post--opt-item {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
    color: var(--therd-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    flex-grow: 1;
    cursor: pointer;
    padding: .5rem;
    border-radius: .5rem;
}

.post--opt-item:hover {
    background-color: #F0F2F5;  
}

.post--opt .post--opt-item:nth-of-type(2) i {
    transform: translateY(2px);
}

.post--opt-liked {
    color: var(--primary-color);
}

.comment__contaienr {
    border-top: 1px solid var(--border-color);
}

.comment--input-box {
    display: flex;
    gap: .5rem;
    padding: 1rem;
    position: relative;
}

.comment--input-box img,
.comment img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    
}

.comment--input-box textarea {
   flex-grow: 1;
   font-size: 1rem;
   background-color: rgb(240, 242, 245);
   color: #050505;
   resize: none;
   height: 40px;
   border: none;
   outline: none;
   padding: .6rem 1rem;
   border-radius: 1.5rem;
   
}

.area--plus {
    height: 120px !important;
}

.comment--input-box textarea::placeholder {
    color: #333030;
}

.comment {
    padding: .5rem 1rem;
    animation: show .2s ease-in-out;
}

@keyframes show {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.coment--top {
    display: flex;
    gap: .5rem;
}

.commnet--content {
    background-color: rgb(240, 242, 245); ;
    flex-grow: 1;
    border-radius: .5rem;
    padding: .3rem .5rem;
}

.commnet--content h3 {
    font-size: .9rem;
}

.comment--body {
    font-size: 1rem;
    max-width: 400px;
}

.comment--date {
    display: block;
    font-size: .7rem;
    color: var(--therd-text-color);
    margin-left: 3.5rem;
}

@media screen and (max-width: 500px) {
    .post--opt-item {
       font-size: .9rem;
    }
}



























