.login {
   background-color: #f0f2f5;
   min-height: max-content;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 10px 20px;
}


/* AVATAR */
.login__content {
    align-self: flex-start;
    margin-top: 5rem;
}

.fb--logo {
    width: 200px;
    object-fit: cover;
    margin-left: -1.2rem;

}

h2 {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 32px;
}

.login__content--text {
    color: #606770;
    max-width: 300px;
    margin-bottom: 2rem;
}

.login__content--avatars {
    display: flex;
    max-width: 550px;
    flex-wrap: wrap;
}

.avatar {
    display: flex;
    flex-direction: column;
    width: 160px;
    border-radius: .7rem;
    box-shadow: 0px 0px 3px grey;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: box-shadow .3s ease-in-out;
    cursor: pointer;
    
}

.avatar:hover {
    box-shadow: 1px 1px 12px grey;
}

.avatar--container {
    position: relative;
}

.avatar--container .exit {
    background-color: #f0f2f5;
    border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left:  5px;
    cursor: pointer;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    z-index: 2;
}

.avatar--container .exit:hover {
    transform: rotate(180deg) scale(1.4);
}

.avatar--container .line {
    width: 60%;
    height: 2px;
    left: 50.5%;
    top: 44%;
}

.avatar--container .line-1 {
    transform: translate(-50%) rotate(45deg);
}

.avatar--container .line-2 {
    transform: translate(-50%) rotate(-45deg);
}

.remove-avatar {
    opacity: 0;
}

.avatar--container:hover .remove-avatar {
    opacity: 1;
}

.avatar__img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: .7rem .7rem 0 0;
}

a {
    text-decoration: none;
}

.avatar__name {
    background-color: #fff;
    color: #4b4f56;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: .8rem;
    border-radius: 0 0 .7rem .7rem;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
}

.avatar__add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f7;
}

.fa-plus-circle {
    color: #1877f2;
    font-size: 2.5rem;
}

/* FORM */


.ad-text {
    text-align: center;
    margin-top: 2rem;
}

.ad-text span {
    font-weight: bold;  
}

.ad-text span:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* Media */
@media screen and (max-width: 850px) {

    .login {
        flex-direction: column;
        height: auto;
        gap: 2rem;
    }

    .login__content {
        align-self: center;
        text-align: center;
        margin-top: 1rem;
    }
    .login__content--text {
        margin: 0 auto 2rem;
    }

    .fb--logo {
        margin-left: 0;
    }

    .form__container {
        margin-bottom: 6rem;
    }

    .login__content--avatars {
        justify-content: center;
    }
}



