.nav {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px #CFD1D5;
    z-index: 10;
}

/* NAV SEARCH */

.nav svg {
    cursor: pointer;
}

.nav ::placeholder {
    color: #2e323a;
    font-size: .9rem;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
}

.nav__search {
   display: flex;
   align-items: center;
   gap: .5rem;
   margin-left: .5rem;
   position: relative;
}

/* NAV UL */
.nav__main--ul {
    list-style: none;
    display: flex;
    padding: 0;
    height: 56px;
    z-index: 0;
    position: relative;
}

@media screen and (max-width: 1050px) {
    .nav__main--ul {
        display: none;
    }
}

.nav__main--ul  li {
    display: flex;
    align-items: center;
    height: 44px;
    cursor: pointer;
    padding: .5rem 2.5rem;
    border-radius: .5rem;
    margin: 6px 0;
}

.nav__main--ul  li:hover {
    background-color: #F0F2F5;
}

.nav__main--ul i {
    font-size: 1.5rem;
    color: #666870;
}

li.active {
    position: relative;
}

li.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3.5px;
    background-color: #1877f2;
    bottom: -6px;
    left: 0;
}

li.active i {
    color: #1877f2
}

.nav__main--ul  li.active:hover {
    background-color: #fff;
    cursor: unset;
}

/* nav-menu */
.nav__menu {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-right: 1rem;
}

.nav__menu i {
    font-size: 1.1rem;
}

.menu-i-wrapper {
    display: flex;
    flex-direction: column; 
}

.menu-i-wrapper i {
   transform: translateY(-4px);
   height: 7px;
}

.nav__menu .active {
    color: var(--primary-color);
    background-color: #E7F3FF;
}

.nav__menu .active:hover {
    background-color: #E7F3FF;
}

.nav--opt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4E6EB;
    height: 40px;
    width: 40px;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: background-color .3s ease;
    z-index: 4;
}

.account i {
    transform: translateY(-15%);
}

.nav--opt:hover {
    background-color: #CFD1D5;
}

.nav--opt__click-area {
    position: absolute;
    border-radius: inherit;
    background-color: transparent;
    height: 100%;
    width: 100%;
    z-index: 4
}

a.active {
    background-color: #E7F3FF;
    border-radius: 1.2rem;
}

a.active h4{
    color: #1877F2 !important;
}

.nav__main--ul .tooltip .tooltiptext {
    top: 120%;
    right: 50%;
    transform: translateX(50%);
}

.nav__menu .tooltip .tooltiptext {
    right: 50%;
    transform: translateX(50%);
}

.nav--opt-update {
    position: absolute;
    top: -5px;
    right: -5px;
    color: #fff;
    font-weight: 900;
    font-size: .9rem;
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media screen and (max-width: 550px) {
    .my-profile {
        display: none;
    }
}