.reset__container {
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px grey;
}


.reset__container h1 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.reset__container input {
    height: 35px;
    border-width: 2px;
}

.password--wrapper {
    margin: 1rem 0 0;
}

.password--wrapper h4 {
    font-weight: 400;
}

.password--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password--wrapper .user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password--wrapper .user .profileImg {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: .5rem;
}

.password--wrapper .user h5 {
    font-size: .8rem;
    font-weight: 500;
    color: grey;
}

.reset__container button {
    padding: .5rem 1rem;
    font-size: 1rem;
}

.reset--options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.reset--options a {
    color: #1877f2;
}

.reset--options a:hover {
    text-decoration: underline;
}

.reset__container .warning {
    margin: 1rem 0 0;
}

.sign {
    max-width: 400px !important;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 5px #ababab;
    animation: showSign 2s ease-in-out;
    z-index: 5;
}

@keyframes showSign {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

