.serach--container {
    display: flex;
    gap: .5rem;
    align-items: center;
    position: relative;
}

.search-input {
    position: relative;
}

.fa-search {
    color: #5f656d;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease-in-out;
    z-index: 2;
}

.search-input input {
    height: 40px;
    max-width: 235px;
    background-color: #F0F2F5;
    border-radius: 40px;
    padding: 0 1rem 0 2rem;
    transition: all .3s ease-in-out;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1260px) {
    .search-input input {
        width: 150px;
    }
    .search-input input::placeholder {
        font-size: .7rem;
    }
}

@media screen and (max-width: 450px) {
    .search-input input {
        font-size: .7rem;
        width: 80px;
        height: 30px;
    }
    .search-input input::placeholder {
        color: transparent   
    }
}

.search-input input:focus {
    padding: 0 1rem 0 1rem;
}

.search-input input:focus ~ .fa-search {
    opacity: 0;
}

.foundUsers__container {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    background-color: #fff;
    border-radius: 0 0 .5rem .5rem;
    padding: 0 .5rem;
    margin-left: -.5rem;
    box-shadow: 2px 10px 10px  #CFD1D5;
    transition: all 1s ease-in-out;
    animation: appear .5s ease-in-out;
    z-index: 1;
}


@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.hide {
    animation: hide .5s ease-in-out;
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(-300px);
    }
}

.foundUsers__profile {
  max-height: 600px;
  overflow: auto;
  scrollbar-color: #aaacb3 #fff;
  scrollbar-width: thin;
}

.foundUsers__profile::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
    border-radius: 1rem;
}
  
.foundUsers__profile::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #fff;
}

.foundUsers__profile:hover::-webkit-scrollbar-thumb {
    background-color: #aaacb3;
}

.foundUsers__messages {
    min-height: 80vh;
    position: absolute;
    padding-bottom: 3rem;
    border-bottom: 2px solid #aaacb3;
    border-radius: 0rem;
}

.foundUsers__messages--info {
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
    color: #666870;
}

.arrow-back {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 10px 10px 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.arrow-back i {
    font-size: 1.2rem;
    color: #5f656d;
}

.arrow-back:hover {
    background-color: rgba(0, 0, 0, 0.1);;
}