.main--page__container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .main--page__container {
        justify-content: flex-start;
        margin-left: 4rem;
    }
}

@media screen and (max-width: 900px) {
    .main--page__container {
        justify-content: center;
        margin: 0 1rem;
    }
}