* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #1877f2 ;
  --primary-color-m: #055ed4;
  --secondary-color: #42b72a;
  --secondary-color-m: #259310;
  --background-color: #f0f2f5;
  /* tak jak search input */
  --grey-background-color: #F0F2F5;  
  /* tak jak ikony po prawej w navie */
  --grey-background-color-m: #dddfe2;
  --text-color: #050505;
  --firs-text-color: #777980;
  --second-text-colr: #606770;
  --therd-text-color: #4b4f56;
  --border-color: #bbbdc1;;
}

.tooltip {
  position: relative;
  z-index: 3;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: var(--therd-text-color);
  color: #fff;
  font-size: .9rem;
  text-align: center;
  border-radius: 6px;
  padding: .3rem .5rem .5rem;
  position: absolute;
  top: 110%;
  right: 20%;
  opacity: 0;
  transition: opacity .3s ease-in-out;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

